@import 'variables';
@import 'mixins';

a {
    &:hover, &:focus {
        text-decoration: none;
    }
}

.rental-list-items-details {
  position: relative;
  height: 717px;
  width: 100%;
  overflow: hidden;

  @media screen and (max-width: $mobile-width) {
    height: 565px;
  }
  
   .rental-list-items-images {
     width: 1000px;
     height: 717px;
     position: absolute;

     @media screen and (max-width: $mobile-width) {
        height: 565px;
     }
   }

    .rental-detail-info {
      padding-top: 8px;
      @include displayFlex();
      @include flexDirection(column);
      @include alignItems(center);
      @include justifyContent(center);
      margin-right: 20px;
      margin-left: 20px;
      position: relative;
      top: 250px;

      .rental-list-tiems-title {
        font-size: 19px;
        position: relative;
        margin: 3px 0;
        color: #F0E7D8;
      }

      .rental-list-tiems-text {
        font-size: 14px;
        position: relative;
        font-weight: 500;
        color: #F0E7D8;
        margin-bottom: 0;
        width: 400px;
        
      }
    }
}
