
<section id="register">
  <div class="bwm-form">
    <div class="row">
      <div class="col-md-5">
        <h1 class="page-title">Register</h1>
        <!-- # allows you to reference your form as a vairable, name after the hash. Allows for checking for form validity -->
        <form #registerForm="ngForm">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text"
                   class="form-control"
                   id="username"
                   name="username"
                   [(ngModel)]="formData.userName"
                   required
                   #username = "ngModel">
            
              <div *ngIf="username.invalid && (username.dirty || username.touched)"
              class="alert alert-danger">

                <div *ngIf="username.errors.required">
                  User Name is required.
                </div>
              </div>
          </div>

          <div class="form-group">
            <label for="email">Email</label>
            <input type="email"
                   class="form-control"
                   id="email"
                   name="email"
                   [(ngModel)]="formData.email"
                   required>
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input type="password"
                   class="form-control"
                   id="password"
                   name="password"
                   [(ngModel)]="formData.password"
                   required>
          </div>

          <div class="form-group">
            <label for="passwordConfirmation">Confirm Password</label>
            <input type="password"
                   class="form-control"
                   id="passwordConfirmation"
                   name="passwordConfirmation"
                   [(ngModel)]="formData.passwordConfirmation"
                   required>
          </div>
          <button [disabled]="!registerForm.form.valid" type="submit" (click)="register()" class="btn btn-bwm">Submit</button>
        </form>
        <div *ngIf="errors.length > 0" class="alert alert-danger">
          <p *ngFor="let error of errors">
            {{error.detail}}
          </p>
        </div>
      </div>
      <div class="col-md-6 ml-auto">
        <div class="image-container">
          <h2 class="catchphrase">As our member you have access to most awesome places in the world.</h2>
          <img src="assets/images/register-image.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>

