$main-color: #F44336;

$main-text-color: #C0D6EA;

$secondary-text-color: #2C423F;

$black-text-color: #1A1423;

$light-grey-color: #e9e9e9;

$confirm-button-main-color: #90C290;

$decline-button-main-color: #D80032;

$button-text-color: #EFF2EF;

$mobile-width: 860px;