@import 'variables';
@import 'mixins';

.navbar {

  background-color: rgba(191, 188, 203, 0.6);
  @include displayFlex();
  @include flexDirection(row);
  @include alignItems(center);
  @include justifyContent(space-between);
  
    .bwm-search {
      height: 50px;
      width: 300px;
    }
    
    .header-search-button {
      background-color: $secondary-text-color;
      color: #BFBCCB;
    }

    .user-name {
      font-size: 14px;
    }
  
  
    .navbar-brand {
      margin-right: 30px;
      font-size: 30px;
      letter-spacing: 1px;
      color: $secondary-text-color;
      font-weight: 500;
    }
  
  
    .nav-item {
      font-size: 14px;
    }

    .nav-link {
      color: $secondary-text-color;

      &:hover {
        cursor: pointer;
      }
    }
  
  
    .btn-bwm-search {
      border-color: $main-color;
      color: $main-color;
  
  
      &:hover, &:focus, &:active {
        background-color: transparent;
        border-color: $main-color;
        color: $main-color;
        box-shadow: none;
      }
    }

    .dropdown-item {
      font-size: 14px;
      
      &:active, &:focus {
        background-color: $main-color;
      }
    }
  }