
<section id="rentalDetails" *ngIf="rental">
  <div class="upper-section">
      <img class="rental-image" src="{{rental.image[1]}}" alt="">
  </div>
  <div class="rental-details-body-content">
    <div class="details-section">
      <div class="row">
        <div class="col-md-8">
          <div class="rental">
            <h2 class="rental-type {{rental.category}}">{{rental.shared ? "Shared" : "Entire"}} {{rental.category}}</h2>
            <div class="rental-owner">
              <img src="https://api.adorable.io/avatars/285/abo@adorable.png">
              <span>{{rental.user.userName}}</span>
            </div>
            <h1 class="rental-title">{{rental.title}}</h1>
            <h2 class="rental-city">{{rental.city | ucwords}}</h2>
            <div class="rental-room-info">
              <span><i class="fa fa-building"></i>{{rental.bedrooms}} bedrooms</span>
              <span><i class="fa fa-user"></i> {{rental.bedrooms + 2}} guests</span>
              <span><i class="fa fa-bed"></i> {{rental.bedrooms}} beds</span>
            </div>
            <p class="rental-description">
              {{rental.description}}
            </p>
            <hr>
            <div class="rental-assets">
              <h3 class="title">Assets</h3>
              <div class="row">
                <div class="col-md-6">
                  <span><i class="fa fa-asterisk"></i> Cooling</span>
                  <span><i class="fa fa-thermometer"></i> Heating</span>
                  <span><i class="fa fa-location-arrow"></i> Iron</span>
                </div>
                <div class="col-md-6">
                  <span><i class="fa fa-desktop"></i> Working area</span>
                  <span><i class="fa fa-cube"></i> Washing machine</span>
                  <span><i class="fa fa-cube"></i> Dishwasher</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div> 
    <div class="rental-detail-booking-map-section">
      <div class="map-container">
        <bwm-map [location]="rental.city + ', ' + rental.street"></bwm-map>
      </div>
      <div>  
        <bwm-rental-detail-booking [rental]="rental">     
        </bwm-rental-detail-booking>
      </div>
    </div>
</div>
   
  
</section>


